<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="allegro_left_hand">


    <xacro:include filename="$(find bullet_grasp_simulator)/urdf/include/allegro_hand/fingers.urdf.xacro" />

	<link name="world"/>

    <!-- PALM -->
    <link name="palm_link">
        
        <visual>
            <geometry>
                <mesh filename="package://bullet_grasp_simulator/meshes/allegro_hand/visual/palm_link_left.dae" />
            </geometry>

            <!-- LEFT -->
             <origin rpy="${-90*DEG2RAD} 0 0" xyz="0 0 0 "/> 
            <!-- RIGHT -->
            <!-- <origin rpy="0 0 0" xyz="0 0 0 "/> -->

            <material name="black">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
        
        <collision>
            <origin rpy="${-90*DEG2RAD} 0 0" xyz="0 0 0 "/> 
            <geometry>
                <mesh filename="package://bullet_grasp_simulator/meshes/allegro_hand/collision/palm_link_left.stl" />
            </geometry>
        </collision>
		
		<inertial>
			<origin xyz="0 0 ${palm_link_z/2}" rpy="0 0 0"/>
			<mass value="0.4154"/>
			<inertia
				ixx="1e-4" ixy="0.0" ixz="0.0"
				iyy="1e-4" iyz="0.0"
				izz="1e-4"/>
		</inertial>
    
    </link>

	<joint name="palm_joint_fixed" type="fixed">
		<origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0" />
		<parent link="world"/>
		<child link="palm_link"/>
	</joint>  

	<!-- FINGERS -->
	<!-- RIGHT HAND due to which finger is number 0 -->
	<!-- for LEFT HAND switch the sign of the **offset_origin_y** and **finger_angle_r** parameters-->
	<!-- -->
	<xacro:finger
		
		base_link = "palm_link"
		finger_num=			"0"
		offset_origin_x=	"${offset_origin_x_const}"	
		offset_origin_y=	"${offset_origin_y_const}"
		offset_origin_z=	"${offset_origin_z_const}"
		finger_angle_r=		"-${5.0*DEG2RAD}"
		sensor_on = "True" 
	/>

	<xacro:finger
		base_link = "palm_link"
		finger_num=			"1" 
		offset_origin_x=	"${offset_origin_x_const}"	
		offset_origin_y=	"0" 
		offset_origin_z=	"${offset_origin_z_mid_const}" 
		finger_angle_r=		"0.0"
		sensor_on = "True" 
	/>

	<xacro:finger 
		base_link = "palm_link"
		finger_num=			"2" 
		offset_origin_x=	"${offset_origin_x_const}"	
		offset_origin_y=	"-${offset_origin_y_const}" 
		offset_origin_z=	"${offset_origin_z_const}" 
		finger_angle_r=		"${5.0*DEG2RAD}"
		sensor_on = "True" 
	/>

	<!-- THUMB -->
	<xacro:thumb_left 
		base_link = "palm_link"
		finger_num=			"3" 
		offset_origin_x=	"-0.0182"	
		offset_origin_y=	"-0.019333" 
		offset_origin_z=	"-0.045987" 
		
		
		finger_angle_r=		"0"
		finger_angle_p=		"-${95*DEG2RAD}"	
		finger_angle_y=		"${90*DEG2RAD}"
		sensor_on = "True" 
	/>


</robot>